* {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: Roboto;
    letter-spacing: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F6F8;
    display: block;
}

html, body {
    height: 100%;
}